<header>
    <nav class="navbar navbar-light" style="background-color: #e3f2fd">
        <ul class="nav nav-pills">
          {% if buyer %}
            <li class="nav-item"><a href="{{ url_for('buyer.home') }}" class="nav-link {% if buyerHomePage %}active{% endif %}">Buyer Home</a></li>
            <li class="nav-item"><a href="{{ url_for('buyer.createBuyer') }}" class="nav-link {% if createBuyerPage %}active{% endif %}">Create Buyer Account</a></li>
            <li class="nav-item"><a href="{{ url_for('product.allProds') }}" class="nav-link {% if allProdsPage %}active{% endif %}">Search Products</a></li>
          {% else %}
            <li class="nav-item"><a href="{{ url_for('seller.home') }}" class="nav-link {% if sellerHomePage %}active{% endif %}">Seller Home</a></li>
            <li class="nav-item"><a href="{{ url_for('product.uploadProd') }}" class="nav-link {% if uploadProdPage %}active{% endif %}">Upload Product</a></li>
            <li class="nav-item"><a href="{{ url_for('seller.createShop') }}" class="nav-link {% if createShopPage %}active{% endif %}">Create Shop</a></li>
          {% endif %}
        </ul>
    </nav>
    <hr style="clear:both">
</header>