<header>
    <nav class="navbar navbar-light" style="background-color: #e3f2fd">
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="{{ url_for('seller.home') }}" class="nav-link {% if sellerHomePage %}active{% endif %}">Seller Home</a></li>
            <li class="nav-item"><a href="{{ url_for('seller.uploadProd') }}" class="nav-link {% if uploadProdPage %}active{% endif %}">Upload Product</a></li>
            <li class="nav-item"><a href="{{ url_for('seller.createShop') }}" class="nav-link {% if createShopPage %}active{% endif %}">Create Shop</a></li>

        </ul>
    </nav>
    <hr style="clear:both">
</header>