{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm col-md-8">
            <div class="content-section">
                <form method="POST" action="" novalidate>
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">{{ title }}</legend>
                        <div class="form-group">
                            {{ form.buyerFirstName.label(class="form-control-label") }}
                            {% if form.buyerFirstName.errors %}
                                {{ form.buyerFirstName(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.buyerFirstName.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.buyerFirstName(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.buyerLastName.label(class="form-control-label") }}
                            {% if form.buyerLastName.errors %}
                                {{ form.buyerLastName(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.buyerLastName.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.buyerLastName(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.email.label(class="form-control-label") }}
                            {% if form.email.errors %}
                                {{ form.email(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.email.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.email(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>                       
                        <div class="form-group">
                            {{ form.pswd.label(class="form-control-label") }}
                            {% if form.pswd.errors %}
                                {{ form.pswd(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.pswd.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.pswd(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>                       
                        <div class="form-group">
                            {{ form.confirmPswd.label(class="form-control-label") }}
                            {% if form.confirmPswd.errors %}
                                {{ form.confirmPswd(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.confirmPswd.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.confirmPswd(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.address.label(class="form-control-label") }}
                            {% if form.address.errors %}
                                {{ form.address(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.address.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.address(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-5">
                                {{ form.city.label(class="form-control-label") }}
                                {% if form.city.errors %}
                                    {{ form.city(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.city.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.city(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <div class="form-group col-md-4">
                                {{ form.state.label(class="form-control-label") }}
                                {% if form.state.errors %}
                                    {{ form.state(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.state.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.state(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <div class="form-group col-md-3">
                                {{ form.pin.label(class="form-control-label") }}
                                {% if form.pin.errors %}
                                    {{ form.pin(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.pin.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.pin(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group">
                        {{ form.submit(class="btn btn-outline-info") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}