{% extends "layout.html" %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm col-md-8">
        <div class="content-section">
          <div class="media">
            <img class="rounded-circle account-img" title="My Image" src="{{ url_for('static', filename='images/' + 'default1.jpg') }}">
            <div class="media-body">
              <h2 class="account-heading">{{ current_user.username }}</h2>
              <p class="text-secondary">{{ current_user.email }}</p>
           </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm col-md-8">
          <div class="content-section">
            <p class='text-muted'>
              <ul class="list-group">
                <li style="color: #2b2b2bd2; font-size: 20px;" class="list-group-item list-group-item-light side-view"><a href="{{ url_for('orders.order') }}">Your Orders</a></li>
                <li style="color: #2b2b2bd2; font-size: 20px;" class="list-group-item list-group-item-light side-view"><a href="{{ url_for('orders.cart') }}">Your Cart</a></li>
                <li style="color: #2b2b2bd2; font-size: 20px;" class="list-group-item list-group-item-light side-view"><a href="{{ url_for('orders.wishlist') }}">Wish-List</a></li>
                <li style="color: #2b2b2bd2; font-size: 20px;" class="list-group-item list-group-item-light side-view"><a href="{{ url_for('orders.history') }}">Your History</a></li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content%}