{% extends "layout.html" %}
{% block content %}
  <div class="container">
    <h3>{{ title }}</h3><br>
      <div class="row">
        {% for prod in prods %}
        <div class="col-sm-auto col-md-auto border border-primary border border-lg m-2">
          <article class="media content-section">
            <div class="media-body">
              <div class="article-metadata">
                  <div class="row">
                    {% if bType == "order" %}
                      <div class="col">Order Id: {{ prod[10] }}</div>
                      <div class="col" style="background-color: rgba(72, 195, 195, 0.561); color: rgb(1, 104, 64); margin-top: 1%;">Status: {{ prod[15] }}</div>
                      <hr>
                    {% endif %}
                  </div>
                <div>{{ prod[1] }}</div>
                <span style="font-size: 15px; ">{{ prod[4] }}</span>
                <hr>
                 <img class="rounded-circle account-img" title="My Image" src="{{ url_for('static', filename='images/' + 'default1.jpg') }}">
                <hr>
                Prices: <span style="font-size: 30px; ">{{ prod[5] }}</span>
                <hr>
                {% if title != 'Your History' %}
                  <form method = "POST" action = "{{ url_for('buyer.buyerAction') }}">
                    <div class="form-row align-items-center">
                      <div class="col-auto">
                        <select class="custom-select" id="inlineFormCustomSelect" name="buyeraction">
                          {% if bType == "order" %} 
                            <option value="0 Cancelled {{ prod[9] }} " selected>Cancel Order</option>
                            <option value="0 Received {{ prod[9] }} " selected>Order Received</option>
                          {% else %}
                              <option value="1 {{ prod[0] }} {{ prod[7] }}" selected>Buy</option>
                            {% if bType != 'cart' %} 
                              <option value="2 {{ prod[0] }}">Add to Cart</option>
                            {% else %}
                              <option value="-2 {{ prod[0] }}">Remove from Cart</option>
                            {% endif %}
                            {% if bType != 'wishlist' %} 
                              <option value="3 {{ prod[0] }}">Add to Wishlist</option>
                            {% else %} 
                              <option value="-3 {{ prod[0] }}">Remove from Wishlist</option>
                            {% endif %}
                          {% endif %}
                        </select>
                      </div>
                      <div class="col-auto">
                        <button type="submit" class="btn btn-primary">Proceed</button>
                      </div>
                    </div>
                  </form>
                {% endif %}
                <hr>
                <h6><small>Sold by: </small>{{ prod[6] }}</h6>
                <h6><small>Address: <i>{{ prod[8] }}</i></small></h6>
              </div>
            </div>
          </article>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
{% endblock content %}