{% extends "layout.html" %}
{% block content %}
  <div class="container">
    <h3>Results are</h3><br>
      <div class="row">
        {% for prod in prods %}
        <div class="col-sm-auto col-md-auto border border-primary border border-lg m-2">
          <article class="media content-section">
            <div class="media-body">
              <div class="article-metadata">
                <p>{{ prod["productName"] }}</p>
                <span style="font-size: 15px; ">{{ prod["productDesc"] }}</span>
                <hr>
                 <img class="rounded-circle account-img" title="My Image" src="{{ url_for('static', filename='images/' + 'default.jpg') }}">
                <hr>
                Prices: <span style="font-size: 30px; ">{{ prod["productPrice"] }}</span>
                <hr>
                <h6><small>Sold by: </small>{{ prod["seller"] }}</h6>
                <h6><small><i>{{ prod["address"] }}</i></small></h6>
              </div>
            </div>
          </article>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
{% endblock content %}