<!DOCTYPE html>
<html>
    {% include "includes/meta.html" %}
    <body>
        <div class="container">
            <div class="row align-items-center offset-md-1"  style="min-height: 100vh">
                <a href="{{ url_for('buyer.home') }}" class="col-md-5 p-5 m-2  btn btn-primary active" role="button" aria-pressed="true">Buy Something</a>
                <a href="{{ url_for('seller.home') }}" class="col-md-5 p-5 m-2  btn btn-primary active" role="button" aria-pressed="true">Sell Something</a>
            </div>
          </div>
    </body>
</html>