{% extends "layout.html" %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm col-md-4">
        <img class="img-thumbnail rounded float-left" title="My Shop Logo" alt="My Shop Logo" src="{{ current_user.shopLogo }}">
      </div>
      <div class="col-sm col-md-4">
        <h2 class="account-heading">{{ current_user.shopName }}</h2>
        <i><h6>{{ current_user.address }}</h6></i>
        <i>{{ current_user.city }} {{ current_user.state }} {{ current_user.pin }}</i>
        <hr>
        <div>
          <p>
            Owner: <b>{{ current_user.fname }} {{ current_user.lname }}</b>
          </p>
          <p>
            Owner Email: <b>{{ current_user.email }}</b>
          </p>
        </div>
      </div>
    </div>
   </div> 
  </div>
  <br>
  <br>
  <div class="container">
    <h3>Your Products</h3><br>
      <div class="row">
        {% for prod in prods %}
        <div class="col-sm-auto col-md-auto border border-primary border border-lg m-2">
          <article class="media content-section">
            <div class="media-body">
              <div class="article-metadata">
                <p>{{ prod.prod_name }}</p>
                <span style="font-size: 15px; ">{{ prod.prod_type }}</span>
                <p style="font-size: 10px; ">{{ prod.prod_desc }}</p>          
                <hr>
                 <img class="img-thumbnail img-fluid" title="My Prod" height="200" width="450" src=" {{ prod.prod_img }} ">
                <hr>
                Prices: <span style="font-size: 30px; ">{{ prod.prod_price }}</span>
                <hr>
              </div>
            </div>
          </article>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
{% endblock content%}