{% extends "layout.html" %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm col-md-4">
        <img class="img-thumbnail rounded float-left" title="My Shop Logo" alt="My Shop Logo" src="{{ shop_logo }}">
      </div>
      <div class="col-sm col-md-4">
        <h2 class="account-heading">{{ current_user.shopName }}</h2>
        <i><h6>{{ current_user.address }}</h6></i>
        <i>{{ current_user.city }} {{ current_user.state }} {{ current_user.pin }}</i>
        <hr>
        <div>
          <p>
            Owner: <b>{{ current_user.fname }} {{ current_user.lname }}</b>
          </p>
          <p>
            Owner Email: <b>{{ current_user.email }}</b>
          </p>
        </div>
      </div>
    </div>
   </div> 
  </div>
  <br>
  <br>
  <div class="container">
    <h3>Your Products</h3><br>
      <div class="row">
        {% for prod in prods %}
        <div class="col-sm-auto col-md-auto border border-primary border border-lg m-2">
          <article class="media content-section">
            <div class="media-body">
              <div class="article-metadata">
                <p>{{ prod[1] }}</p>
                <span style="font-size: 15px; ">{{ prod[4] }}</span>
                <hr>
                 <img class="rounded-circle account-img" title="My Prod" src="Projects\offline-e-commerce\seller\files\static\images\default.jpg">
                <hr>
                Prices: <span style="font-size: 30px; ">{{ prod[5] }}</span>
                <hr>
                <h6><small>Sold by: </small>{{ prod[6] }}</h6>
                <h6><small>Address: <i>{{ prod[8] }}</i></small></h6>
              </div>
            </div>
          </article>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
{% endblock content%}