{% extends "layout.html" %}
{% block content %}
  <div class="container">
    <h3>{{ title }}</h3><br>
      <div class="row">
        {% for order in orders %}
        <div class="col-sm-auto col-md-5 border border-primary border border-lg m-4">
          <article class="media content-section">
            <div class="media-body">
              <div class="article-metadata">
                <div class="row">
                  <div class="col"><p>Order ID: {{ order.orderId }}</p></div>
                  <div class="col"><p>Product ID: {{ order.productID }}</p></div>
                  <div class="col" style="background-color: rgba(72, 195, 195, 0.561); color: rgb(1, 104, 64); margin-top: 1%;">Status: {{ order.status }}</div>
                </div>
                <hr>
                <p>Product Name: {{ order.productName }} </p>
                <span style="font-size: 15px; ">Buyer Name: <b>{{ order.buyerName }}</b></span><br>
                <span style="font-size: 15px; ">Buyer Email: <a href="mailto:{{ order.buyerEmail }}"><b>{{ order.buyerEmail }}</b></a></span><br>
                <span style="font-size: 15px; ">Buyer Address: <b>{{ order.buyerAdd }}</b></span>
                <hr>
                 <img title="My Prod" style="height:170px; width:auto; max-width:500px; margin-left: auto; margin-right: auto;" src="{{ order.productPhoto }}">
                <hr>
              </div>
            </div>
          </article>
          <div class="col">
            Prices: <span style="font-size: 30px; ">{{ order.price }}</span>
          </div>
          <div class="col">
            Quantity: <span style="font-size: 30px; ">{{ order.quantity }}</span>
          </div>
          <hr>
          {% if title != 'Your History' %}
            <form method = "POST" action = "">
              <div class="form-row align-items-center">
                <div class="col-auto">
                  <select class="custom-select" id="inlineFormCustomSelect" name="selleraction">
                    {% if order.status != "Accept" %}
                      <option value="Accept {{ order.orderId }}" selected>Accept</option>
                    {% endif %}
                    {% if order.status != "Cancelled" %}
                      <option value="Cancelled {{ order.orderId }}">Cancell</option>
                    {% endif %}
                    {% if order.status != "Out_for_Deilvery" %}
                      <option value="Out_for_Deilvery {{ order.orderId }}">Out for Deilvery</option>
                    {% endif %}
                  </select>
                </div>
                <div class="col-auto">
                  <button type="submit" class="btn btn-primary">Proceed</button>
                </div>
              </div>
            </form>
          {% endif %}
          <hr>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
{% endblock content %}